/*----------GLOBAL STYLES----------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
p{
    padding: 0.75rem 0;
}

/*UTILITY CLASSES*/
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}

.text-center{
    text-align: center;
}
.text-primary{
    color: #93cb52;
}
.bg-light{
    background: #f4f4f4;
    color: #333;
}
.bg-dark{
    background: #333;
    color: #fff;
}
.bg-primary{
    background:#93cb52;
    color: #fff;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    color: white;
    background:#93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    color: #7ab436;
}
.btn-dark{
    background: #333;
    color: #fff;
}
.list{
    margin: 0.5rem 0;
    list-style: none;
}
.list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

/*NAVBAR*/
#navbar{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
    position: fixed;
    width: 100%;
    background: #333;
    color: white;
}
#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}
#navbar ul li a{
    color: white;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}

/*SHOWCASE*/
#showcase{
    background: #333 url(../images/showcase.jpg)
    no-repeat center center/cover;
    height: 100vh;
    color: white;
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2rem;
    /*OVERLAY*/
    position: absolute;
    top: 61px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}

/*EHAT WE DO*/
.items{
    display: flex;
    padding: 1rem;
}
.item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}
#what .items .item i{
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/*WHO ARE WE*/
#who{
    display: flex;
}
#who div{
    flex: 1;
}
#who .who-img{
    background: url(../images/people.jpg) no-repeat center center/cover;
}

/*CLIENTS*/
#clients .items{
    display: flex;
}
#clients .items img{
    display: block;
    margin: auto;
    width: 60%;
}

/*CONTACT*/
#contact{
    display: flex;
}
#contact .map, #contact .contact-form{
    flex: 1;
}
#contact .contact-form .form-group{
    margin: 0.75rem;
}
#contact .contatc-form label{
    display: block;
}
#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;
}
